$primary-color: #0e55da;
$primary-light-color: #89a8eb;
$secondary-color: #ff7042;
$secondary-light-color: #ff704296;
$text-color: #333333;
$text-white: #f8f8f8;


/* Light and Dark themes */
$light-background: #ffffff;
$dark-background: #333333;
$white: #f8f8f8;
$black: #121212;